{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Checks whether to display category names or the listings within the categories -->
    {% if listings %}
        <h2>{{ category }}</h2>
        <div class = "container">
        {% for listing in listings %}
        <div>
            <h3><a href = "{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
            <img src = "{{ listing.url }}" width = "200" height="200"><br>
            Description: {{ listing.description }}
        </div>
        {% endfor %}
        </div>
    {% else %}
        <h2 id = "listing" >Categories</h2>
        <ol>
        {% for category in category_list %}
            <a href = "{% url 'cat_products' category %}"><li>{{category}}</li></a>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}